<div class="center jumbotron">
    <h1>Home work</h1>
    
    <h2>
        This is the home page for the sample application
    </h2>
    
    <%= link_to "carousel", '#', class: "btn btn-lg btn-primary" %>
    <%= link_to "popover", '#', class: "btn btn-lg btn-primary" %>
    <%= link_to "tooltip", '#', class: "btn btn-lg btn-primary" %>
    <%= link_to "tab", '#', class:"btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.prg' %>