<header class="navbar bnavbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "HOME_WORK", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "carousel", carousel_path %></li>
        <li><%= link_to "popover", popover_path %></li>
        <li><%= link_to "tab", tab_path %></li>
        <li><%= link_to "tooltip", tooltip_path %></li>
      </ul>
    </nav>
  </div>
</header>